.header__item {
  position: relative;
}

.head-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding: 12px 0;
  }

  @media (min-width: 1260px) {
    background-color: #68B738;
  }
}

.txt-mob {
  justify-self: center;
  width: 101px;
  height: 18px;

  @media (min-width: 768px) {
    display: none;
  }
}

.burger {
  justify-self: end;
  border: none;
  outline-offset: 20px;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url('../img/header/burger.svg');
  background-position: center;
  background-size: cover;

  @media (width >= 768px) {
    display: none;
  }
}
.burger--opened {
  width: 24px;
  height: 24px;
  background-position: center;
  background-image: url('../img/header/burger-close.svg');
}

.nav {
  @media (max-width: 768px) {
    //grid-column: 1/4;
    //grid-row: 2/3;
  }

  .nav__list {
    //display: grid;
    //grid-auto-flow: row;
    //column-gap: 35px;
    //font-weight: 400;
    //text-transform: uppercase;

    .nav__item {
      list-style: none;
      padding: 20px 0;
    }
    .nav__link {
      @media (max-width: 768px) {
        color: #000000;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
      }
    }

    @media (min-width: 768px) {
      //.nav__list {
      //  grid-auto-flow: column;
      //  font-size: 18px;
      //  line-height: 24px;
      //}
      .nav__link:hover,
      .nav__link--active {
        border-bottom: 2px solid #68B738;
        padding-bottom: 7px;
      }
    }
    @media (min-width: 1260px) {
      //.nav__list {
      //  grid-auto-flow: column;
      //  font-size: 20px;
      //  line-height: 30px;
      //}
      .nav__link {
        color: #FFFFFF;
      }
      .nav__link:hover,
      .nav__link--active {
        border-bottom: 2px solid #ffffff;
        padding-bottom: 5px;
      }
    }
  }
}

.nav--closed {
  @media (max-width: 768px) {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background-color: #65a93d;
  background-image: linear-gradient(to top,#ffffff 150px, transparent 150px), url('../img/header/intro-back-mobile.png');
  background-repeat: no-repeat;
  background-position: top;

  .intro__heading {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
  .intro__text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
  }
  .intro__img {
    display: block;
  }
}
.header__button {
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 0;
    padding: 14px 26px;
    width: auto;
  }
}
.header__button--mobile {
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 18px;
    padding: 7px 0;
    width: 100%;
  }
}