.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: #68B738;
}
.button:hover {
  background-color: #54a92f;
}
.button__link {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}