@import "../variables/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  transition: 0.3s;
  min-width: 320px;
}

.header .container {
  padding-left: 0;
  padding-right: 0;
}

.header--hidden {
  transform: translateY(-100%);
}

.header--page-scrolled {
  background-color: $whiteF;
  border-bottom: 1px solid $header-bottom;
}

.header__grid {
  display: grid;
}

.header--colored {
  background-color: $whiteF;
}

.header__logo {
  justify-self: start;
  outline-offset: 10px;
}

.header__title {
  justify-self: center;
  outline-offset: 20px;
}

.header__logo-txt {
  width: 101px;
  height: 18px;
}

.header__icon {
  stroke: $black;
  transition: 0.5s;
}

.header__icon--invisible {
  display: none;
}

@media (max-width: 747px) {
  .header {
    background-color: $whiteF;
  }

  .head-layout {
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $whiteF;
    padding: 12px 20px;
  }

  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 63px;
    transition: all .5s;
  }

  .header__button {
    z-index: 1;
    display: block;
    padding: 0;
    background-color: transparent;
    justify-self: end;
    outline-offset: 20px;
  }
}

@media (min-width: 748px) {
  .header {
    padding: 15px 20px;
    background-color: $whiteF;
  }

  .header__grid {
    grid-auto-flow: column;
    align-items: center;
  }

  .header__title {
    display: none;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: 1260px) {
  .header--transparent {
    background: transparent 0 0;
  }
}

