@import "../variables/variables";

.menu-overlay {
  display: none;
}

.menu-overlay--open {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100%;
  cursor: pointer;
  z-index: -1;
}

.menu__list {
  display: grid;
  text-transform: uppercase;
}

.menu__link {
  text-decoration: none;
  outline-offset: 20px;
}

@media (max-width: $tablet-width - 1) {
  .menu {
    background-color: $whiteF;
  }
  .menu--closed {
    top: -1000px;
    opacity: 0;
  }

  .menu__list {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
  .menu__item {
    padding: 24px 0;
    text-align: center;
    border-bottom: 1px solid #E6E6E6;

  }
  .menu__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
  .menu__link {
    color: $black;
  }
  .menu__link:hover {
    color: $basic-green;
  }
}

@media (min-width: $tablet-width) {
  .menu__list {
    grid-auto-flow: column;
    justify-items: end;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .menu__list {
    font-size: 18px;
    line-height: 24px;
  }
  .menu__link {
    color: $black;
    padding-bottom: 10px;
  }
  .menu__link:hover {
    color: $basic-green;
  }
  .menu__link--current {
    border-bottom: 2px solid $basic-green;
  }
}

@media (min-width: $desktop-width) {
  .menu__list {
    font-size: 20px;
    line-height: 30px;
    column-gap: 40px;
    justify-content: end;
  }

  .menu__link {
    color: $whiteF;
    padding-bottom: 10px;
  }
  .menu__link:hover {
    border-bottom: 2px solid $whiteF;
  }
  .menu__link--current {
    border-bottom: 2px solid $whiteF;
  }

  .menu__link--modified {
    color: $black;
  }
  .menu__list--modified .menu__link--current {
    border-bottom: 2px solid $basic-green;
  }
  .menu__link--modified:hover {
    border-bottom: 2px solid $basic-green;
  }
}
