@import "../variables/variables";

.textarea {
  border: 1px $input-border solid;
}

.textarea:active,
.textarea:focus {
  outline: 2px solid $dark-grey;
}

//.textarea:hover {
//  border: 1px solid $special-grey;
//}

.textarea,
.textarea::placeholder {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: $dark-grey;
}

@media (max-width: $tablet-width - 1) {
  .textarea,
  .textarea::placeholder {
    font-size: 16px;
    padding-top: 0;
  }
}
