.header {
    position: relative;
    display: grid;
}

@media (max-width: 748px) {
    .header {
        background-color: #ffffff;
    }
}

@media (max-width: 748px) {
    .head-layout {
        z-index: 1;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* Title */

.header__title {
    justify-self: center;
    outline-offset: 20px;
}

@media (min-width: 748px) {
    .header__title {
        display: none;
    }
}

/* Menu */

@media (max-width: 748px) {
    .header__menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 60px;
        transition: all .5s;
    }
}

/* Button */

@media (max-width: 748px) {
    .header__button {
        z-index: 1;
        display: block;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        justify-self: end;
        outline-offset: 20px;
    }
}

@media (min-width: 748px) {
    .header__button {
        display: none;
    }
}

/* Icon */

.header__icon {
    stroke: #000000;
}

.header__icon--invisible {
    display: none;
}