/* Menu */

.menu {
    display: grid;
}

@media (max-width: 748px) {
    .menu {
        background-color: #ffffff;
    }
}

/* List */

@media (max-width: 748px) {
    .menu__list {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .menu__item {
        padding: 24px 0;
        text-align: center;
        border-bottom: 1px solid #E6E6E6;

    }

    .menu__item:first-child {
        border-top: 1px solid #E6E6E6;
    }

    .menu__link {
        text-decoration: none;
        color: #000000;
        outline-offset: 20px;
    }
    .menu__link:hover {
        color: #68b738;
    }
}

