/* Menu */

@media (max-width: 747px) {
    .menu {
        background-color: #ffffff;
    }
    .menu--closed {
        height: 1px;
        margin: -1px;
        clip: rect(0 0 0 0);
    }
}

/* List */

.menu__list {
    display: grid;
    text-transform: uppercase;
}

.menu__link {
    text-decoration: none;
    outline-offset: 20px;
}

@media (max-width: 747px) {
    .menu__list {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }
    .menu__item {
        padding: 24px 0;
        text-align: center;
        border-bottom: 1px solid #E6E6E6;

    }
    .menu__item:first-child {
        border-top: 1px solid #E6E6E6;
    }
    .menu__link {
        color: #000000;
    }
    .menu__link:hover {
        color: #68b738;
    }
}

@media (min-width: 748px) {
    .menu__list {
        grid-auto-flow: column;
    }
}

@media (min-width: 748px) and (max-width: 1260px) {
    .menu__list {
        font-size: 18px;
        line-height: 24px;
    }
    .menu__link {
        color: #000000;
        padding-bottom: 10px;
    }
    .menu__link:hover {
        color: #68b738;
    }
    .menu__link--current {
        border-bottom: 2px solid #68B738;
    }
}

@media (min-width: 1260px) {
    .menu__list {
        font-size: 20px;
        line-height: 30px;
    }
    .menu__link {
        color: #FFFFFF;
        padding-bottom: 10px;
    }
    .menu__link:hover {
        border-bottom: 2px solid #FFFFFF;
    }
    .menu__link--current {
        border-bottom: 2px solid #FFFFFF;
    }
}
