@import "../variables/variables";

@media (max-width: 747px) {
  .program__header {
    border-bottom: 1px solid $header-bottom;
  }
}


@media (max-width: 747px) {
  .program__heading {
    padding-top: 90px;
    padding-bottom: 35px;
  }
}

@media (min-width: 748px) {

  .program__heading {
    padding-top: 140px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1260px) {

  .program__heading {
    padding-top: 160px;
    padding-bottom: 55px;
  }
}
