// COLORS

$whiteF: #FFFFFF;
$basic-green: #68B738;
$special-green: #5EAA2F;
$demo-grey: #EAEAEA;
$button-back: #EBEBEB;
$basic-grey: #F2F2F2;
$special-grey: #CDCDCD;
$demo-slider: #DCDCDC;
$special-light-grey: #E6E6E6;
$header-bottom: #DBDCE0;
$shadow-grey: #666666;
$dark-grey: #444444;
$almost-black: #222222;
$black: #000000;
$status_error: #FF8282;
$input-border: #E7E7E7;


// PIXELS

// Cats demo-section
$tablet-gradient-brp: 158px;
$desktop-gradient-brp: 183px;
